<div class="container mt-3">
  <div class="row mb-3">
    <div class="col-md-12">
      <h2 class="display-6">Popular movies</h2>
    </div>
  </div>
  <div class="row">
    
    <div class="col-6 col-md-3"  *ngFor="let popularMovie of popularMovies">
      <div class="card mb-2" >
        
        <img class="card-img-top" [src]="popularMovie.poster_path | convertImgToUrl:'poster_path' " width="100px" [alt]="popularMovie.original_title">
        <div class="card-body">
          <h5 class="card-title">{{ popularMovie.original_title }}</h5>
          <p class="align-middle text-right mb-0 releaseDate d-none d-sm-block">Release date: {{ popularMovie.release_date}}</p>
          <p class="card-text">{{ popularMovie.overview | shortOverview }}</p>
          <p>
            <a 
                class="btn btn-block btn-outline-success mb-1"
                href="movie/{{popularMovie.id}}"
                >Ver más</a>
          </p>
        </div>



      </div>
    </div>
  </div>
</div>
