<div class="container-fluid py-5" style="background-image: radial-gradient(circle at 20% 50%, rgba(9.41%, 26.27%, 26.27%, 0.8) 0%, rgba(9.41%, 26.27%, 26.27%, 1) 100%);">
  <div class="container" id="infoActor">
    <div class="row">
      <div class="col-md-4">
        <img [src]="detailsPerson.profile_path | convertImgToUrl:'profile_path_actor'" [alt]="detailsPerson.name" class="img-fluid rounded"/>
      </div>
      <div class="col-md-8">
        <h2 class="display-4 mt-5 mb-3">{{detailsPerson.name}}</h2>
        <h5>Biography</h5>
        <p class="text-justify">{{detailsPerson.biography}}</p>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row mt-5">
    <div class="col-md-4" id="detailsActor">
      <h3>Personal information</h3>
      <h5>Known for</h5>
      <p>{{detailsPerson.known_for_department}}</p>

      <h5>Place of birth</h5>
      <p>{{detailsPerson.place_of_birth}}</p>

      <div *ngIf="detailsPerson.homepage !== null">
        <h5>Official site</h5>
        <p>
          <a [href]="detailsPerson.homepage"
             target="_blank">{{detailsPerson.homepage}}</a>
        </p>
      </div>

      <h5>Birthday</h5>
      <p>{{detailsPerson.birthday | date}}</p>

      <h5>Also known as</h5>
      <p>
        <span *ngFor="let other_names of detailsPerson.also_known_as" class="d-block">
          {{other_names}}
        </span>
      </p>

      <h5></h5>
      <p></p>
    </div>
    <div class="col-md-8">
      <h3>Known for</h3>

      <div class="row">
        <div class="col-md-3 col-6" *ngFor="let movie of moviesActor">
         <div class="card pointer mb-2" (click)="watchMovie(movie.id)">
            <img class="card-img-top" [src]="movie.poster_path | convertImgToUrl:'poster_path'" [alt]="movie.original_title">
            <div class="card-body">
              <h5 class="card-title text-center">{{movie.original_title}}</h5>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>